html, body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backgraund {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.container {
  width: 1283px;
  max-width: 100%;
  margin: 0 auto;
}

.but__transparent {
  background-color: rgba(55, 189, 166, 0);
  height: 52px;
  border: 1px solid #30d7ba;
  border-radius: 39px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  outline: none;
}

.but__dark {
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 39px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  outline: none;
}

.logo {
  width: 186px;
  height: 58px;
}

.logo img {
  width: 100%;
  height: 100%;
}

header {
  padding-top: 33px;
}

header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_content .menu .nav li {
  display: inline-block;
}

header .header_content .menu .nav li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0 51px;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #ffffff;
  line-height: 27px;
}

header .header_content .but__transparent {
  border-color: #ffffff;
  width: 153px;
  color: #ffffff;
}

.hero h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 55px;
  width: 631px;
  margin: 127px auto 0 auto;
  color: #ffffff;
  letter-spacing: 0.2px;
}

@media (max-width: 600px) {
  .hero h1 {
    width: 307px;
    margin: 55px auto 0 auto;
    font-weight: 500;
    font-size: 46px;
  }
}

.hero p {
  text-align: center;
  color: #e5e5e5;
  margin: 27px auto 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2px;
}

@media (max-width: 600px) {
  .hero p {
    width: 334px;
  }
}

.hero .hero__buttons {
  margin: 71px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 375px;
}

@media (max-width: 600px) {
  .hero .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 55px;
  }
  .hero .hero__buttons .but__dark {
    width: 252px;
    margin: 0 auto 13px auto;
  }
  .hero .hero__buttons .but__transparent {
    width: 252px;
    margin: 0 auto 0 auto;
  }
}

.hero .hero__buttons .but__dark {
  width: 184px;
  background-color: #ffffff;
  color: #112d57;
}

.hero .hero__buttons .but__transparent {
  width: 178px;
  border-color: #ffffff;
  color: #ffffff;
}

.hero .hero__img {
  margin: 101px auto 0 auto;
  width: 1021.5px;
  max-width: 100%;
  padding-bottom: 85px;
}

@media (max-width: 600px) {
  .hero .hero__img {
    width: 364px;
    margin: 0 auto;
    margin-top: 95px;
  }
  .hero .hero__img img {
    width: 100%;
  }
}

.hero .hero__img .hero__img img {
  width: 100%;
  height: 100%;
}

.second_titel {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 46px;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

.third_titel {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
}

.built_specifically {
  margin-top: 51px;
}

@media (max-width: 600px) {
  .built_specifically {
    margin-top: 47px;
  }
}

.built_specifically .second_titel {
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  width: 765px;
}

@media (max-width: 600px) {
  .built_specifically .second_titel {
    width: 282px;
  }
}

.built_specifically .built_specifically__content {
  margin-top: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .built_specifically .built_specifically__content {
    display: block;
  }
  .built_specifically .built_specifically__content_card {
    margin: 45px auto 64px auto;
  }
}

.built_specifically .built_specifically__content_card {
  width: 401px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-bottom: 50px;
}

.built_specifically .built_specifically__content_card_img {
  width: 62px;
  margin-left: 54px;
  margin-top: 60px;
}

.built_specifically .built_specifically__content_card_img svg {
  fill: #03D6F3;
}

.built_specifically .built_specifically__content_card .third_titel {
  margin: 40px 0 0 60px;
}

.built_specifically .built_specifically__content_card p {
  margin: 30px 60px 30px 60px;
  width: 281px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}

.built_specifically .built_specifically__content_card a {
  margin-top: 30px;
  margin-left: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #03d6f3;
}

.built_specifically .built_specifically__content_card:hover {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  width: 406px;
}

.built_specifically .built_specifically__content_card:hover .third_titel, .built_specifically .built_specifically__content_card:hover p, .built_specifically .built_specifically__content_card:hover a {
  color: #ffffff;
}

.built_specifically .built_specifically__content_card:hover svg {
  fill: white;
}

.process {
  margin-top: 51px;
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 600px) {
  .process {
    margin-top: 47px;
    padding-top: 58px;
    padding-bottom: 262px;
  }
}

.process .process__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .process .process__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.process .process__content_text {
  width: 495px;
  margin: auto 0;
}

@media (max-width: 600px) {
  .process .process__content_text {
    width: 335px;
  }
}

.process .process__content_text .second_titel {
  text-align: center;
}

.process .process__content_text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 46px;
  margin-bottom: 36px;
}

@media (max-width: 600px) {
  .process .process__content_text-button {
    position: absolute;
    bottom: -214px;
    left: auto;
    z-index: 3;
  }
}

.process .process__content_text-button .but__dark {
  width: 216px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

@media (max-width: 600px) {
  .process .process__content_text-button .but__dark {
    width: 338px;
  }
}

.process .process__content_text-button .but__transparent {
  width: 203px;
  color: #30D7BA;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  .process .process__content_text-button .but__transparent {
    width: 338px;
    margin-top: 22px;
  }
}

.process .process__content_img {
  width: 516px;
  max-width: 100%;
}

@media (max-width: 600px) {
  .process .process__content_img {
    width: 463px;
  }
  .process .process__content_img img {
    width: 100%;
  }
}

.process .process__content_img img {
  width: 100%;
  height: 100%;
}

.operation {
  margin-top: 51px;
  padding-top: 110px;
  padding-bottom: 110px;
}

@media (max-width: 600px) {
  .operation {
    margin-top: 47px;
    padding-top: 58px;
    padding-bottom: 100px;
  }
}

.operation .operation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .operation .operation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.operation .operation__content_text {
  width: 525px;
  margin: auto 0;
}

@media (max-width: 600px) {
  .operation .operation__content_text {
    width: 335px;
  }
}

.operation .operation__content_text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 47px;
  margin-bottom: 37px;
}

.operation .operation__content_text .but__dark {
  width: 147px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

@media (max-width: 600px) {
  .operation .operation__content_text .but__dark {
    position: absolute;
    bottom: -102px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }
}

.operation .operation__content_img {
  width: 516px;
  max-width: 100%;
}

@media (max-width: 600px) {
  .operation .operation__content_img {
    width: 463px;
    margin: 0 auto;
  }
}

.operation .operation__content_img img {
  width: 100%;
  height: 100%;
}

.solution {
  margin-top: 51px;
  padding-top: 73px;
  padding-bottom: 73px;
}

@media (max-width: 600px) {
  .solution {
    margin-top: 47px;
    padding-top: 72px;
    padding-bottom: 296px;
  }
}

.solution .solution__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .solution .solution__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.solution .solution__content_text {
  width: 426px;
  max-width: 100%;
  margin: auto 0;
}

@media (max-width: 600px) {
  .solution .solution__content_text {
    width: 374px;
  }
  .solution .solution__content_text .second_titel {
    text-align: center;
  }
}

.solution .solution__content_text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 47px;
  margin-bottom: 37px;
}

@media (max-width: 600px) {
  .solution .solution__content_text p {
    text-align: center;
    width: 352px;
    margin-top: 27px;
    margin-bottom: 0%;
  }
}

.solution .solution__content_text-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 441px;
}

@media (max-width: 600px) {
  .solution .solution__content_text-buttons {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    bottom: -234px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 3;
  }
}

.solution .solution__content_text-buttons .but__dark {
  width: 216px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

@media (max-width: 600px) {
  .solution .solution__content_text-buttons .but__dark {
    width: 294px;
    height: 76px;
  }
}

.solution .solution__content_text-buttons .but__transparent {
  width: 203px;
  color: #30D7BA;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  .solution .solution__content_text-buttons .but__transparent {
    width: 294px;
    height: 76px;
    margin-top: 13px;
  }
}

.solution .solution__content-img {
  width: 762px;
  max-width: 100%;
}

@media (max-width: 600px) {
  .solution .solution__content-img {
    width: 463px;
    margin: 0 auto;
    margin-top: 71px;
  }
}

.solution .solution__content-img img {
  width: 100%;
  height: 100%;
}

.your_team {
  margin-top: 51px;
  padding-top: 50px;
  padding-bottom: 83px;
}

@media (max-width: 600px) {
  .your_team {
    margin-top: 47px;
    padding-top: 60px;
    padding-bottom: 103px;
  }
}

.your_team .second_titel, .your_team p {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.your_team__pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 600px) {
  .your_team__pricing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.your_team__pricing-order {
  margin-top: 63px;
  padding-top: 50px;
  padding-bottom: 40px;
  border: 1px solid #dedede;
  border-radius: 10px;
  width: 335px;
}

.your_team__pricing-order .third_titel {
  margin: 0 auto;
  text-align: center;
}

.your_team__pricing-order p {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}

.your_team__pricing-order_img {
  width: 259px;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .your_team__pricing-order_img {
    width: 262px;
  }
}

.your_team__pricing-order_img img {
  width: 100%;
  height: 100%;
}

.your_team__pricing-order_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  width: 148px;
  height: 61px;
}

.your_team__pricing-order_price-cost h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 55px;
  letter-spacing: 0.2px;
  color: #30d7ba;
  margin: 0;
}

.your_team__pricing-order_price-currency {
  padding-left: 10px;
}

.your_team__pricing-order_price-currency .third_titel {
  color: #30d7ba;
  margin: 0;
  text-align: left;
}

.your_team__pricing-order_price-currency p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.1px;
  margin: 5px 0 0 0;
  color: #5c5c5c;
}

.your_team__pricing-order ul {
  margin: 0 auto;
  margin-top: 45px;
  padding: 0;
}

.your_team__pricing-order ul li {
  text-align: center;
  margin-top: 20px;
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
}

.your_team__pricing-order > .but__dark {
  width: 251px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  margin: 40px 42px 0 42px;
}

.line {
  width: 868px;
  height: 0;
  margin: 0 auto;
  margin-top: 51px;
  margin-bottom: 51px;
  border-bottom: 1px solid #cdcdcd;
}

@media (max-width: 600px) {
  .line {
    width: 453px;
    margin: 47px 0 47px 0;
  }
}

.subscribe .second_titel {
  width: 241px;
  margin: 0 auto;
  margin-top: 72px;
}

.subscribe p {
  width: 358px;
  margin: 0 auto;
  margin-top: 27px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}

.subscribe__content {
  width: 471px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 69px;
  margin-bottom: 62px;
}

@media (max-width: 600px) {
  .subscribe__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscribe__content input {
  width: 284px;
  height: 52px;
  background: #efefef;
  border: 1px solid #d0d0d0;
  border-radius: 6px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}

@media (max-width: 600px) {
  .subscribe__content input {
    width: 483px;
    height: 56px;
    border-radius: 7px;
  }
}

.subscribe__content .but__dark {
  width: 177px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

@media (max-width: 600px) {
  .subscribe__content .but__dark {
    width: 483px;
    height: 62px;
    border-radius: 6px;
    margin-top: 12px;
  }
}

footer .fon {
  background: #112d57;
}

footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */