html,body{
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
.backgraund{
    background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}
.container{
    width: 1283px;
    max-width:100%;
    margin: 0 auto;
}

.but__transparent{
    background-color: rgba($color: #37BDA6, $alpha: 0);
    height: 52px;
    border: 1px solid #30d7ba;
    border-radius: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    outline: none;
}
.but__dark{
    height: 52px;
    border: 1px solid #ffffff;
    border-radius: 39px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    outline: none;
}

.logo{
        width: 186px;
        height: 58px;
    & img{width: 100%;
            height: 100%;
        }
}
header{
    padding-top: 33px;
    & .header_content{
        display: flex;
        justify-content: space-between;
        & .menu .nav li{
            display: inline-block;
        
        }
            & .menu .nav li a{
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 15px;
                padding: 0 51px;
                text-decoration: none;
                letter-spacing: 0.2px;
                color: #ffffff;
                line-height: 27px;
            }
        & .but__transparent{
            border-color: #ffffff;
            width: 153px;
            color: #ffffff;
            
        }
    }
}    

.hero{
    
    & h1{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 55px;
        width: 631px;
        margin: 127px auto 0 auto;
        color: #ffffff;
        letter-spacing: 0.2px;
        @media (max-width:600px){
            width: 307px;
            margin: 55px auto 0 auto;
            font-weight: 500;
            font-size: 46px;
        }
    }
    & p{
        text-align: center;
        color: #e5e5e5;
        margin: 27px auto 0 auto;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 0.2px;
        @media (max-width:600px){
            width: 334px;
        }
        
        
    }
    & .hero__buttons{
        margin: 71px auto 0 auto;
        display: flex;
        justify-content:space-between ;
        width: 375px;
        @media (max-width:600px){
            flex-direction: column;
            align-items: center;
            margin-top: 55px;
            
            & .but__dark{
                width: 252px;
                margin: 0 auto 13px auto;
               
            }
            & .but__transparent{
                width: 252px;
                margin: 0 auto 0 auto;
                
            }
        }
         & .but__dark{
            width: 184px;
            background-color: #ffffff;
            color: #112d57;
        }
        & .but__transparent{
                width: 178px;
                border-color: #ffffff;
                color: #ffffff;
            }
    }
    & .hero__img{
        margin: 101px auto 0 auto;
        width: 1021.5px;
        max-width: 100%;
        padding-bottom: 85px;
        @media (max-width:600px){
            width: 364px;
            margin: 0 auto;
            margin-top: 95px;
            img{
                width: 100%;
            }
           
        }
        
        & .hero__img img{
           width: 100%;
           height: 100%;
        }
    }
}
.second_titel{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 46px;
    letter-spacing: 0.2px;
    margin: 0;
    padding: 0;
}
.third_titel{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 0.1px;
    margin: 0;
    padding: 0;
}

.built_specifically{
    margin-top: 51px;
    @media (max-width:600px){
        margin-top: 47px;
    }

    & .second_titel{
        padding-top: 60px;
        margin: 0 auto;
        text-align: center;
        width: 765px;
        @media (max-width:600px) {
            width: 282px;
        }
    }
    & &__content{
        margin-top: 101px;
        display: flex;
        justify-content: space-between;
        @media (max-width:600px) {
            display: block;
            &_card{
                margin: 45px auto 64px auto;

            }
        }
        &_card{
            width: 401px;
            border: 1px solid #dedede;
            box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            padding-bottom: 50px;
            &_img{
                width: 62px;
                margin-left: 54px;
                margin-top: 60px;
                svg{
                    fill:#03D6F3;
                }
            }
            & .third_titel{
                margin: 40px 0 0 60px;
            }
            & p{
                margin: 30px 60px 30px 60px;
                width: 281px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 18px;
                letter-spacing: 0.2px;
                color: #5c5c5c;
            }
            & a{
                margin-top: 30px;
                margin-left: 60px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 15px;
                letter-spacing: 0.2px;
                text-decoration: none;
                color: #03d6f3;
            }
            &:hover{
                background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
                width: 406px;
                .third_titel,p,a{
                    color: #ffffff;
                }
                svg{
                    fill:white;
                }
                
            }
            

        }
        
        }
     
    }

.process{
    margin-top: 51px;
    padding-top: 110px;
    padding-bottom: 110px;
    @media (max-width:600px){
        margin-top: 47px;
        padding-top: 58px;
        padding-bottom: 262px;

    }
    & &__content{
        display: flex;
        justify-content: space-around;
        @media (max-width:600px){
            flex-direction: column;
            align-items: center;
            position: relative;
           
        }
        &_text{
            width: 495px;
            margin: auto 0;
            @media (max-width:600px){
                width: 335px;
            }
            & .second_titel{
               text-align: center;
              
            }
            & p{
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.2px;
                margin-top: 46px;
                margin-bottom: 36px;
            }
            &-button{
                @media (max-width:600px){
                    position: absolute;
                    bottom: -214px;
                    left: auto;
                    z-index: 3;
                    
                }
                & .but__dark{
                    width: 216px;
                    background: #03D6F3;
                    border-color: #03D6F3;
                    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                    color: #ffffff;
                    @media (max-width:600px){
                        width: 338px;
                    }
                }
                & .but__transparent{
                    width: 203px;
                    color: #30D7BA;
                    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                    @media (max-width:600px){
                        width: 338px;
                        margin-top: 22px;
                    }
                }
            }
        }
        &_img{
            width: 516px;
            max-width: 100%;
            @media (max-width:600px){
                width: 463px;
                img{
                    width: 100%;
                }
                
            }
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.operation{
    margin-top: 51px;
    padding-top: 110px;
    padding-bottom: 110px;
    @media (max-width:600px){
        margin-top: 47px;
        padding-top: 58px;
        padding-bottom: 100px;
    }
    & &__content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        @media (max-width:600px){
            flex-direction: column;
            align-items: center;
            position: relative;
           
        }
        &_text{
            width: 525px;
            margin: auto 0;
            @media (max-width:600px){
                width: 335px;
            }
                & p{
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.2px;
                margin-top: 47px;
                margin-bottom: 37px;
                }
                & .but__dark{
                    width: 147px;
                    background: #03D6F3;
                    border-color: #03D6F3;
                    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                    color: #ffffff;
                    @media (max-width:600px){
                        position: absolute;
                        bottom: -102px;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: 3;
                        
                    }
                }
            }
            &_img{
                width: 516px;
                max-width: 100%;
                @media (max-width:600px){
                    width: 463px;
                    margin: 0 auto;
                }
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
        
        
    }
}
.solution{
    margin-top: 51px;
    padding-top: 73px;
    padding-bottom: 73px;
    @media (max-width:600px){
        margin-top: 47px;
        padding-top: 72px;
        padding-bottom: 296px;
    }
    & &__content{
        display: flex;
        justify-content: space-around;
        
        @media (max-width:600px){
            flex-direction: column;
            align-items: center;
            position: relative;
           
        }
        &_text{
            width: 426px;
            max-width: 100%;
            margin: auto 0;
            @media (max-width:600px){
                width: 374px;
                
                .second_titel{
                    text-align: center;
                    
                }
            }
            & p{
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.2px;
                margin-top: 47px;
                margin-bottom: 37px;
                @media (max-width:600px){
                    text-align: center;
                    width: 352px;
                    margin-top: 27px;
                    margin-bottom: 0%;
                }
            }
            &-buttons{
                display: flex;
                justify-content:space-between ;
                width: 441px;

                @media (max-width:600px){
                    position: absolute;
                    flex-direction: column;
                    align-items: center;
                    bottom: -234px;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                    
                }
                & .but__dark{
                    width: 216px;
                    background: #03D6F3;
                    border-color: #03D6F3;
                    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                    color: #ffffff;
                    @media (max-width:600px){
                        width: 294px;
                        height: 76px;
                    }
                }
                & .but__transparent{
                    width: 203px;
                    color: #30D7BA;
                    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                    @media (max-width:600px){
                        width: 294px;
                        height: 76px;
                        margin-top: 13px;
                    }
                }
            }
        }
        &-img{
            width: 762px;
            max-width: 100%;
            @media (max-width:600px){
                width: 463px;
                margin: 0 auto;
                margin-top: 71px;
                
            }
            & img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
.your_team{
    margin-top: 51px;
    padding-top: 50px;
    padding-bottom: 83px;
    @media (max-width:600px){
        margin-top: 47px;
        padding-top: 60px;
        padding-bottom: 103px;
    }
    & .second_titel, p{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        
    }
    &__pricing{
        display: flex;
        justify-content: space-around;
        @media (max-width:600px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &-order {
            margin-top: 63px;
            padding-top: 50px;
            padding-bottom: 40px;
            border: 1px solid #dedede;
            border-radius: 10px;
            width: 335px;
            .third_titel{
            margin: 0 auto;
            text-align: center;
            }
            p{
                margin-top: 10px;
                font-family: 'Poppins', sans-serif;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 0.1px;
                color: #5c5c5c;
            }
            &_img{
                width: 259px;
                margin: 0 auto;
                @media (max-width:600px){
                   width: 262px;
                    
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            &_price{
                display: flex;
                margin: 0 auto;
                margin-top: 30px;
                width: 148px;
                height: 61px;
                &-cost h1{
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 900;
                    font-size: 55px;
                    letter-spacing: 0.2px;
                    color: #30d7ba;
                    margin: 0;
                }
                &-currency {
                    padding-left: 10px;
                    .third_titel{
                        color: #30d7ba;
                        margin: 0;
                        text-align: left;
                    }
                    p{
                        font-family: 'Poppins', sans-serif;
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 0.1px; 
                        margin: 5px 0 0 0;
                        color: #5c5c5c;
                    }
                }
            }
            & ul{
                margin: 0 auto;
                margin-top: 45px;
                padding: 0;
                
                li{
                    text-align: center;
                    margin-top: 20px;
                    list-style-type: none;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    letter-spacing: 0.2px; 
                    
                }
            }
            &>.but__dark{
                width: 251px;
                background: #03D6F3;
                border-color: #03D6F3;
                box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
                color: #ffffff;
                margin: 40px 42px 0 42px;
                
                
                
            }
            
        }
    }
}
.line{
    width: 868px;
    height: 0;
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 51px;
    border-bottom: 1px solid #cdcdcd;
    @media (max-width:600px){
        width: 453px;
        margin: 47px 0 47px 0;
    }
}
.subscribe{
    .second_titel{
        width: 241px;
        margin: 0 auto;
        margin-top: 72px;
        
    }
    p{
        width: 358px;
        margin: 0 auto;
        margin-top: 27px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.2px;
        color: #5c5c5c;
    }
    &__content{
        width: 471px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-top: 69px;
        margin-bottom: 62px;
        @media (max-width:600px){
            flex-direction: column;
            align-items: center;
        }
        input{
            width: 284px;
            height: 52px;
            background: #efefef;
            border: 1px solid #d0d0d0;
            border-radius: 6px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 15px;
            letter-spacing: 0.2px;
            color: #5c5c5c;
            @media (max-width:600px){
                width: 483px;
                height: 56px;
                border-radius: 7px;
            }
        }
        .but__dark{
            width: 177px;
            background: #03D6F3;
            border-color: #03D6F3;
            box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
            color: #ffffff;
            @media (max-width:600px){
                width: 483px;
                height: 62px;
                border-radius: 6px;
                margin-top: 12px;
            }
        }
    }
}
footer{
    .fon{
        background: #112d57;
    }
    & .footer__content{
        display: flex;
        justify-content: space-around;
        padding-top: 62px;
        @media (max-width:600px){
            flex-direction: column;
            align-items: center;
        }
        &_items{
            display: flex;
            justify-content: space-between;
            margin-top: 24px;
            width: 397px;
            & ul{
                margin: 0 auto;
                padding: 0;
                li{
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    font-family: 'Poppins', sans-serif;
                    font-weight: 400;
                    font-size: 15px;
                    letter-spacing: 0.2px;
                    color: #ffffff;
                    margin-bottom: 20px;
                }
            }
            
        }
        & .footer__content_img{
            width: 334px;
            margin: 0 auto;
            @media (max-width:600px){
                margin-top: 87px;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}