html, body {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.backgraund {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
}

.container {
  width: 1283px;
  margin: 0 auto;
}

.but__transparent {
  background-color: rgba(55, 189, 166, 0);
  height: 52px;
  border: 1px solid #30d7ba;
  border-radius: 39px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  outline: none;
}

.but__dark {
  height: 52px;
  border: 1px solid #ffffff;
  border-radius: 39px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
  outline: none;
}

.logo {
  width: 186px;
  height: 58px;
}

.logo img {
  width: 100%;
  height: 100%;
}

header {
  padding-top: 33px;
}

header .header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header_content .menu .nav li {
  display: inline-block;
}

header .header_content .menu .nav li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding: 0 51px;
  text-decoration: none;
  letter-spacing: 0.2px;
  color: #ffffff;
  line-height: 27px;
}

header .header_content .but__transparent {
  border-color: #ffffff;
  width: 153px;
  color: #ffffff;
}

.hero h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 55px;
  width: 631px;
  margin: 127px auto 0 auto;
  color: #ffffff;
  letter-spacing: 0.2px;
}

@media (max-width: 600px) {
  .hero h1 {
    width: 307px;
    margin: 55px auto 0 auto;
  }
}

.hero p {
  text-align: center;
  color: #e5e5e5;
  margin: 27px auto 0 auto;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.2px;
}

@media (max-width: 600px) {
  .hero p {
    width: 334px;
  }
}

.hero .hero__buttons {
  margin: 71px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
}

@media (max-width: 600px) {
  .hero .hero__buttons {
    display: block;
  }
  .hero .hero__buttons .but__dark {
    width: 252px;
    margin: 55px auto 13px auto;
  }
  .hero .hero__buttons .but__transparent {
    width: 252px;
    margin: 0 auto 95px auto;
  }
}

.hero .hero__buttons .but__dark {
  width: 184px;
  background-color: #ffffff;
  color: #112d57;
}

.hero .hero__buttons .but__transparent {
  width: 178px;
  border-color: #ffffff;
  color: #ffffff;
  margin-left: 13px;
}

.hero .hero__img {
  margin: 101px auto 0 auto;
  width: 1021.5px;
  padding-bottom: 85px;
}

@media (max-width: 600px) {
  .hero .hero__img {
    width: 364px;
    margin: 0 auto;
  }
}

.hero .hero__img .hero__img img {
  width: 100%;
  height: 100%;
}

.second_titel {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 46px;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0;
}

.third_titel {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
}

.built_specifically {
  margin-top: 51px;
}

.built_specifically .second_titel {
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
  width: 765px;
}

@media (max-width: 600px) {
  .built_specifically .second_titel {
    width: 282px;
  }
}

.built_specifically .built_specifically__content {
  margin-top: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .built_specifically .built_specifically__content {
    display: block;
  }
  .built_specifically .built_specifically__content_card {
    margin: 45px auto 64px auto;
  }
}

.built_specifically .built_specifically__content_card {
  width: 401px;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding-bottom: 50px;
}

.built_specifically .built_specifically__content_card_img {
  width: 62px;
  margin-left: 54px;
  margin-top: 60px;
}

.built_specifically .built_specifically__content_card_img svg {
  fill: #03D6F3;
}

.built_specifically .built_specifically__content_card .third_titel {
  margin: 40px 0 0 60px;
}

.built_specifically .built_specifically__content_card p {
  margin: 30px 60px 30px 60px;
  width: 281px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #5c5c5c;
}

.built_specifically .built_specifically__content_card a {
  margin-top: 30px;
  margin-left: 60px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #03d6f3;
}

.built_specifically .built_specifically__content_card:hover {
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  width: 406px;
}

.built_specifically .built_specifically__content_card:hover .third_titel, .built_specifically .built_specifically__content_card:hover p, .built_specifically .built_specifically__content_card:hover a {
  color: #ffffff;
}

.built_specifically .built_specifically__content_card:hover svg {
  fill: white;
}

.process {
  margin-top: 51px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.process .process__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.process .process__content_text {
  width: 495px;
  margin: auto 0;
}

.process .process__content_text .second_titel {
  text-align: center;
}

.process .process__content_text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 46px;
  margin-bottom: 36px;
}

.process .process__content_text-button .but__dark {
  width: 216px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.process .process__content_text-button .but__transparent {
  width: 203px;
  color: #30D7BA;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.process .process__content_img {
  width: 516px;
}

.process .process__content_img img {
  width: 100%;
  height: 100%;
}

.operation {
  margin-top: 51px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.operation .operation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.operation .operation__content_text {
  width: 525px;
  margin: auto 0;
}

.operation .operation__content_text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 47px;
  margin-bottom: 37px;
}

.operation .operation__content_text .but__dark {
  width: 147px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.operation .operation__content_text_img {
  width: 516px;
}

.operation .operation__content_text_img img {
  width: 100%;
  height: 100%;
}

.solution {
  margin-top: 51px;
  padding-top: 73px;
  padding-bottom: 73px;
}

.solution .solution__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.solution .solution__content_text {
  width: 426px;
  margin: auto 0;
}

.solution .solution__content_text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  margin-top: 47px;
  margin-bottom: 37px;
}

.solution .solution__content_text-buttons .but__dark {
  width: 216px;
  background: #03D6F3;
  border-color: #03D6F3;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.solution .solution__content_text-buttons .but__transparent {
  width: 203px;
  color: #30D7BA;
  -webkit-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.solution .solution__content_img {
  width: 762px;
}

.solution .solution__content_img img {
  width: 100%;
  height: 100%;
}

.your_team {
  margin-top: 51px;
  padding-top: 50px;
  padding-bottom: 83px;
}

.your_team .second_titel, .your_team p {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 600px) {
  .your_team .second_titel, .your_team p {
    text-align: left;
  }
}

.your_team__pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.your_team__pricing-order {
  padding-top: 50px;
  padding-bottom: 40px;
  border: 1px solid #dedede;
  border-radius: 10px;
  width: 335px;
}

.your_team__pricing-order .third_titel {
  margin: 0 auto;
  text-align: center;
}

.your_team__pricing-order p {
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}

.your_team__pricing-order_img {
  width: 259px;
  margin: 0 auto;
}

.your_team__pricing-order_img img {
  width: 100%;
  height: 100%;
}

.your_team__pricing-order_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */